@font-face{
    font-family:'MyriadRegular';
    src:url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-regular-webfont.eot');
    src:url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-regular-webfont.woff') format('woff'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-regular-webfont.ttf') format('truetype'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-regular-webfont.svg#MyriadRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'MyriadSemiBold';
    src:url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-semibold-webfont.eot');
    src:url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-semibold-webfont.woff') format('woff'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-semibold-webfont.ttf') format('truetype'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-semibold-webfont.svg#MyriadSemiBold') format('svg');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:'MyriadBold';
    src:url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-bold-webfont.eot');
    src:url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-bold-webfont.woff') format('woff'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-bold-webfont.ttf') format('truetype'),
        url('index.php?controller=assets&action=img&path=%2Fstatic%2Ffonts%2Fmyriadwebpro%2Fmyriadwebpro-bold-webfont.svg#MyriadBold') format('svg');
    font-weight:bold;
    font-style:normal;
}