html,body{margin:0;font-family:'MyriadRegular',Arial,Helvetica,sans-serif;line-height:1.5em;font-size:16px;}

.clear{clear:both;}

html{display:table;min-width:100%;min-height:100%;height:100%;
background:	linear-gradient(rgb(108,120,159,0.6),rgb(108,120,159,0.3)),
			url('<?php echo $this->AssetUrl('/static/img/theme/box-light-dots-bg.min.svg'); ?>');
}

.master-container{width:50%;min-width:600px;margin:30px auto 50px auto;}

.content{padding:25px;background:#fff;border-radius:3px;box-shadow:0 0 15px rgba(0,0,0,0.6);}
.content h1{margin:10px 0 25px 0;font-family:'MyriadBold';font-size:32px;}
.content.route-index-index{text-align:center;}
.content a.head-btn{float:right;}

.cd-collection-items{width:75%;}
.cd-collection-items th,
.cd-collection-items td{text-align:left;}
.cd-collection-items th.right,
.cd-collection-items td.right{text-align:right;}
.cd-collection-items th.center,
.cd-collection-items td.center{text-align:center;}
.cd-collection-items td{white-space:nowrap;}

div.errors{margin-bottom:10px;}
div.error{color:#ff2222;font-family:'MyriadSemiBold';text-align:center;}
input.error,select.error,textarea.error{text-align:left;}
